<template>
  <div id="Boo">
    <button @click="adddata(num)" type="button" class="btn btn-primary m-5 h6">
      TEST
    </button>

    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-touch="false" 
      data-bs-interval="false"
    >
     
      <div class="carousel-inner">
        <div
          class="carousel-item"
          :class="[index === '0' ? 'active' : '']"
          v-for="(item, index) in goupe"
          :key="index"
        >
          <div class="container">
            <div class="row">
              <div class="col" v-for="iitem in item" :key="iitem">
                <img
                  src="https://source.unsplash.com/random"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <h5 class="bg-primary text-danger h1">{{ index }}</h5>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- <div class="container">
      <div class="row">
        <div class="col" v-for="(item, index) in goupe" :key="index">
          {{ index }}
        </div>
      </div>
    </div> -->
    <!-- <div class="container">
      <div class="row">
        <div @click="onClick(p.lv1_id)" class="col" v-for="p in $store.getters.GET_IMG" :key="p._id"  >
          <div class="imgsize" v-html="p.lv1_img"></div>
        </div>
        
      </div>
    </div> -->

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary m-5"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      BOO
    </button>

    <!-- Modal -->

    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header card">
            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body colorbody">
            <div class="card">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">เลขที่รายการ</th>
                    <th scope="col">วันที่สั่งซื้อ</th>
                    <th scope="col">สถานะรายการ</th>
                    <th scope="col">จัดส่งโดย</th>
                    <th scope="col">สาขา</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{ orderdetial.no }}</th>
                    <td>{{ orderdetial.date }}</td>
                    <td>{{ orderdetial.status }}</td>
                    <td>{{ orderdetial.shipby }}</td>
                    <td>{{ orderdetial.brach }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="container-fluid my-3">
              <div class="row d-flex text-center">
                <div class="col">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check-circle-fill iconcolor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                    />
                  </svg>
                  <p>สั่งชื่อสินค้า</p>
                </div>
                <div class="col"><hr /></div>
                <div class="col">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check-circle-fill iconcolor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                    />
                  </svg>
                  <p>จัดสินค้า</p>
                </div>
                <div class="col"><hr /></div>
                <div class="col">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check-circle-fill iconcolor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                    />
                  </svg>
                  <p>จัดส่งสินค้า</p>
                </div>
                <div class="col">
                  <hr />
                </div>
                <div class="col">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-check-circle-fill iconcolor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"
                    />
                  </svg>
                  <p>รับสินค้าเเล้ว</p>
                </div>
              </div>
            </div>

            <div class="card">
              <p class="h5 ms-3 mt-3">รายละเอียดสินค้า</p>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">สินค้า</th>
                    <th scope="col"></th>
                    <th scope="col">ราคา</th>
                    <th scope="col">จำนวน</th>
                    <th scope="col">ยอดรวม</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>
                      <img
                        class="imgsize card"
                        :src="order.img"
                        alt="product"
                      />
                    </th>
                    <td>{{ order.name }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.qty }}</td>
                    <td>{{ order.totalAmt }}</td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="card mt-3">
              <p class="h5 ms-3 mt-3">รายละเอียดการชำระเงิน</p>

              <div class="container-fluid">
                <div class="row">
                  <div class="col"><p>total</p></div>
                  <div class="col text-end">
                    <p>{{ order.totalAmt }} บาท</p>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="container-fluid colorbody">
                <div class="row">
                  <div class="col">
                    <p>discount</p>
                    <p>ส่วนลด MKT null</p>
                  </div>
                  <div class="col text-end">
                    <p>{{ order.discount }} บาท</p>
                    <p>{{ order.discountMKT }} บาท</p>
                  </div>
                </div>
              </div>

              <div class="container-fluid">
                <div class="row">
                  <div class="col">Order Total</div>
                  <div class="col text-end">{{ order.totalAmt }} บาท</div>
                </div>
              </div>
            </div>

            <div class="my-3">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-4 card">
                    <table
                      class="
                        table table-borderless table-striped
                        container-fluid
                      "
                    >
                      <thead>
                        <tr>
                          <th scope="col">
                            <p class="mt-2 ms-2">
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-truck"
                                viewBox="0 0 16 16"
                              >
                                <path
                                  d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
                                />
                              </svg>
                              ที่อยู่จัดส่ง
                            </p>
                          </th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ order.name }}</td>
                          <td>{{ order.price }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-1"></div>
                  <div class="col-4 card">Column</div>
                  <div class="col"></div>
                </div>
              </div>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-danger container-fluid"
            data-bs-dismiss="modal"
          >
            พิมพ์ใบยืนยันการชำระเงิน
          </button>
        </div>
      </div>
    </div>

    {{ goupe }}
  </div>
</template>

<script>
export default {
  name: "Boo",
  data() {
    return {
      num: 0,
      add: 0,
      keep: [],
      goupe: {},
      orderdetial: {
        no: "33322",
        date: "17/06/2021 15:49:48",
        status: "ยืนยันใบเสนอราคา",
        shipby: "รับที่สาขา",
        brach: "920 twdd",
      },
      order: {
        img: "https://cdn.pixabay.com/photo/2016/04/15/08/04/strawberry-1330459_960_720.jpg",
        name: " Good Product",
        discount: "0.00",
        discountMKT: "0.00",
        price: "500.00",
        qty: "1",
        totalAmt: "500.00",
      },
    };
  },
  mounted() {
    this.getimg();
  },
  computed: {},
  methods: {
    adddata() {
      this.keep.push(`item ${this.num}`);
      this.num++;
      this.goupe[this.add] = this.keep;
      if (this.keep.length / 4 === 1) {
        this.keep = [];
        this.num = 0;
        this.add++;
      }
    },
    async getimg() {
      this.$store.dispatch("getimgAction");
    },
    onClick(id) {
      var data = this.$store.getters.GET_IMG;
      for (var i in data) {
        if (id == data[i].lv1_id) {
          if (data[i].lv1_img.search("#FFC44C") !== -1) {
            data[i].lv1_img.replaceAll("#FFC44C", "#FFA54C");
            console.log(data[i].lv1_img.replaceAll("#FFC44C", "#FFA54C"));
          }
          // console.log(data[i].lv1_img);
        }
      }
    },
  },
};
</script>

<style scoped>
.barcode {
  height: 500px;
  color: black;
}
.iconcolor {
  color: rgb(4, 172, 32);
}
.imgsize {
  height: 150px;
}
</style>
