<template>
  <div
    v-if="$store.getters.GET_DATEQ === null"
    class="d-flex justify-content-center mt-5"
  >
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div v-if="$store.getters.GET_DATEQ !== null" id="frombooking " class="">
    <button
      @click="domenu"
      class="btn bg-maincolor p text-color my-2 ms-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapse"
      aria-expanded="false"
      aria-controls="collapse"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-list btndrawer"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </button>
    <div class="card mb-5">
      <div class="container">
        <div class="row">
          <div v-if="menu === true" class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <ul class="container-fluid my-2">
              <li
                :style="sd1"
                @click="select = 1"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d1 }}
              </li>
              <li
                :style="sd2"
                @click="select = 2"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d2 }}
              </li>
              <li
                :style="sd3"
                @click="select = 3"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d3 }}
              </li>
              <li
                :style="sd4"
                @click="select = 4"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d4 }}
              </li>
              <li
                :style="sd5"
                @click="select = 5"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d5 }}
              </li>
              <li
                :style="sd6"
                @click="select = 6"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d6 }}
              </li>
              <li
                :style="sd7"
                @click="select = 7"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d7 }}
              </li>
            </ul>
          </div>
          <div class="col">
            <div v-if="select === 1">
              <div class="card m-2" v-if="t1.status === 'booked'">
                <p class="h2 my-3 mx-2">คุณมีคิววันนี้เเล้ว</p>
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t1.date }}</p>
                  <p class="card-text h6">เวลา : {{ t1.time }}</p>
                  <div
                    @click="doremove(t1.date, t1.time)"
                    class="btn d-flex justify-content-end"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#doremove"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-trash-fill text-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="card m-2" v-if="t1.status !== 'booked'">
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t1" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <div
                          @click="dobooking(d1, t.start_time, t.end_time)"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#nobooking"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-plus-square-fill maincolor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div v-if="select === 2">
              <div class="card m-2" v-if="t2.status === 'booked'">
                <p class="h2 my-3 mx-2">คุณมีคิววันนี้เเล้ว</p>
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t2.date }}</p>
                  <p class="card-text h6">เวลา : {{ t2.time }}</p>
                  <div
                    @click="doremove(t2.date, t2.time)"
                    class="btn d-flex justify-content-end"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#doremove"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-trash-fill text-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="card m-2" v-if="t2.status !== 'booked'">
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t2" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <div
                          @click="dobooking(d2, t.start_time, t.end_time)"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#nobooking"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-plus-square-fill maincolor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div v-if="select === 3">
              <div class="card m-2" v-if="t3.status === 'booked'">
                <p class="h2 my-3 mx-2">คุณมีคิววันนี้เเล้ว</p>
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t3.date }}</p>
                  <p class="card-text h6">เวลา : {{ t3.time }}</p>
                  <div
                    @click="doremove(t3.date, t3.time)"
                    class="btn d-flex justify-content-end"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#doremove"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-trash-fill text-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="card m-2" v-if="t3.status !== 'booked'">
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t3" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <div
                          @click="dobooking(d3, t.start_time, t.end_time)"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#nobooking"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-plus-square-fill maincolor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div v-if="select === 4">
              <div class="card m-2" v-if="t4.status === 'booked'">
                <p class="h2 my-3 mx-2">คุณมีคิววันนี้เเล้ว</p>
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t4.date }}</p>
                  <p class="card-text h6">เวลา : {{ t4.time }}</p>
                  <div
                    @click="doremove(t4.date, t4.time)"
                    class="btn d-flex justify-content-end"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#doremove"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-trash-fill text-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="card m-2" v-if="t4.status !== 'booked'">
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t4" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <div
                          @click="dobooking(d4, t.start_time, t.end_time)"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#nobooking"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-plus-square-fill maincolor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div v-if="select === 5">
              <div class="card m-2" v-if="t5.status === 'booked'">
                <p class="h2 my-3 mx-2">คุณมีคิววันนี้เเล้ว</p>
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t5.date }}</p>
                  <p class="card-text h6">เวลา : {{ t5.time }}</p>
                  <div
                    @click="doremove(t5.date, t5.time)"
                    class="btn d-flex justify-content-end"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#doremove"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-trash-fill text-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="card m-2" v-if="t5.status !== 'booked'">
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t5" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <div
                          @click="dobooking(d5, t.start_time, t.end_time)"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#nobooking"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-plus-square-fill maincolor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div v-if="select === 6">
              <div class="card m-2" v-if="t6.status === 'booked'">
                <p class="h2 my-3 mx-2">คุณมีคิววันนี้เเล้ว</p>
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t6.date }}</p>
                  <p class="card-text h6">เวลา : {{ t6.time }}</p>
                  <div
                    @click="doremove(t6.date, t6.time)"
                    class="btn d-flex justify-content-end"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#doremove"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-trash-fill text-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="card m-2" v-if="t6.status !== 'booked'">
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t6" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <div
                          @click="dobooking(d6, t.start_time, t.end_time)"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#nobooking"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-plus-square-fill maincolor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div v-if="select === 7">
              <div class="card m-2" v-if="t7.status === 'booked'">
                <p class="h2 my-3 mx-2">คุณมีคิววันนี้เเล้ว</p>
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t7.date }}</p>
                  <p class="card-text h6">เวลา : {{ t7.time }}</p>
                  <div
                    @click="doremove(t7.date, t7.time)"
                    class="btn d-flex justify-content-end"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#doremove"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-trash-fill text-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                </div>
              </div>

              <div class="card m-2" v-if="t7.status !== 'booked'">
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t7" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <div
                          @click="dobooking(d7, t.start_time, t.end_time)"
                          type="button"
                          data-bs-toggle="modal"
                          data-bs-target="#nobooking"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="30"
                            height="30"
                            fill="currentColor"
                            class="bi bi-plus-square-fill maincolor"
                            viewBox="0 0 16 16"
                          >
                            <path
                              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                            />
                          </svg>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="container-fluid ">
        <div class="row">
          <div
            v-if="menu === true"
          
            class="mainbody p text-color colorbody col-7 col-sm-7 col-md-3 col-lg-3"
          >
            <ul class="container-fluid mt-2">
              <li
                :style="sd1"
                @click="select = 1"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d1 }}
              </li>
              <li
                :style="sd2"
                @click="select = 2"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d2 }}
              </li>
              <li
                :style="sd3"
                @click="select = 3"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d3 }}
              </li>
              <li
                :style="sd4"
                @click="select = 4"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d4 }}
              </li>
              <li
                :style="sd5"
                @click="select = 5"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d5 }}
              </li>
              <li
                :style="sd6"
                @click="select = 6"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d6 }}
              </li>
              <li
                :style="sd7"
                @click="select = 7"
                class="d-flex justify-content-center my-2 btn"
              >
                {{ d7 }}
              </li>
            </ul>
          </div>

          <div :class="myclass" class="bg-success">
            <div v-if="select === 3">
              <div class="card m-2" v-if="t3.status === 'booked'">
                <div class="card-body">
                  <p class="card-text h6">วัน /เดือน / ปี : {{ t3.date }}</p>
                  <p class="card-text h6">เวลา : {{ t3.time }}</p>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="25"
                    height="25"
                    fill="currentColor"
                    class="bi bi-plus-square-fill maincolor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                    />
                  </svg>
                </div>
              </div>

              <div class="card m-2" v-if="t3.status !== 'booked'">
                <div class="container-fluid bg-primary">fffffffffffffff</div>
                <table
                  class="table p text-center table-borderless table-striped"
                >
                  <thead class="">
                    <tr>
                      <th scope="col">รอบเวลา</th>
                      <th scope="col">เวลาเเล้วเสร็จ</th>
                      <th scope="col">หมายเหตุ</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody class="">
                    <tr v-for="t in t3" :key="t.id">
                      <td>{{ t.start_time }}</td>
                      <td>
                        {{ t.end_time }}
                      </td>
                      <td>*** เวลาโดยประมาณ เวลาอาจมีการเปลี่ยนเเปลง</td>
                      <td>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="30"
                          height="30"
                          fill="currentColor"
                          class="bi bi-plus-square-fill maincolor"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"
                          />
                        </svg>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- Modal bookibg -->
  <div
    class="modal fade"
    id="nobooking"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-maincolor text-light">
          <h5
            v-if="$store.getters.GET_COM === null"
            class="modal-title"
            id="staticBackdropLabel"
          >
            คุณต้องการจอง
          </h5>
          <h5
            v-if="$store.getters.GET_COM === false"
            class="modal-title"
            id="staticBackdropLabel"
          >
            ไม่สามารถจองได้
          </h5>
          <h5
            v-if="$store.getters.GET_COM === true"
            class="modal-title"
            id="staticBackdropLabel"
          >
            จองเรียบร้อย
          </h5>
          <button
            v-if="$store.getters.GET_LR === false"
            type="button"
            class="btn-close btnolor"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>วัน / เดือน /ปี : {{ booking.date }}</p>
          <p>เวลา : {{ booking.time }}</p>
        </div>
        <div v-if="$store.getters.GET_LR === false" class="modal-footer">
          <button
            @click="backdropBooking = false"
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            ยกเลิก
          </button>
          <button
            @click="doinsertAction"
            type="button"
            class="btn bg-maincolor text-light"
          >
            ตกลง
          </button>
        </div>
        <div v-if="$store.getters.GET_COM === null">
          <div
            v-if="$store.getters.GET_LR !== false"
            class="d-flex justify-content-center my-2"
          >
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div v-if="$store.getters.GET_COM !== null" class="modal-footer">
          <button
            @click="setinit"
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal remove -->
  <div
    class="modal fade"
    id="doremove"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-light">
          <h5
            v-if="$store.getters.GET_COM === null"
            class="modal-title"
            id="staticBackdropLabel"
          >
            คุณต้องยกเลิกการจอง
          </h5>
          <h5
            v-if="$store.getters.GET_COM === false"
            class="modal-title"
            id="staticBackdropLabel"
          >
            ไม่สามารถยกเลิกการจองได้
          </h5>
          <h5
            v-if="$store.getters.GET_COM === true"
            class="modal-title"
            id="staticBackdropLabel"
          >
            ยกเลิกการจองเรียบร้อย
          </h5>
          <button
            v-if="$store.getters.GET_LR === false"
            type="button"
            class="btn-close btnolor"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>วัน / เดือน /ปี : {{ booking.date }}</p>
          <p>เวลา : {{ booking.time }}</p>
        </div>
        <div v-if="$store.getters.GET_LR === false" class="modal-footer">
          <button
            @click="backdropBooking = false"
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            ยกเลิก
          </button>
          <button
            @click="doremoveAction"
            type="button"
            class="btn bg-maincolor text-light"
          >
            ตกลง
          </button>
        </div>
        <div v-if="$store.getters.GET_COM === null">
          <div
            v-if="$store.getters.GET_LR !== false"
            class="d-flex justify-content-center my-2"
          >
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div v-if="$store.getters.GET_COM !== null" class="modal-footer">
          <button
            @click="setinit"
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
          >
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "frombooking",
  data() {
    return {
      booking: {
        date: "",
        time: "",
      },
      menu: true,
      backdropRemove: false,
      backdropBooking: false,
      date: "",
      time: "",
      myclass1: "col-7 col-sm-7 col-md-3 col-lg-3",
      myclass: "col-4 col-sm-4 col-md-9 col-lg-9 mainbody",
      select: 1,
      firstvalue: 1,
      d1: "",
      d2: "",
      d3: "",
      d4: "",
      d5: "",
      d6: "",
      d7: "",
      t1: "",
      t2: "",
      t3: "",
      t4: "",
      t5: "",
      t6: "",
      t7: "",
    };
  },
  watch: {
    mapdate() {},
    selectdate() {},
    domenu() {},
    getdateg() {},
  },
  mounted() {
    this.getdateg();
    this.selectdate();
  },
  computed: {
    async mapdate() {
      if (this.$store.getters.GET_DATEQ === null) {
        this.$store.dispatch("getdateq");
      }
      var get = this.$store.getters.GET_DATEQ;
      var date = {};
      var time = {};
      for (var i in get) {
        if (get[i]["date"]) {
          switch (i) {
            case "1":
              this.d1 = get[i]["date"];
              break;
            case "2":
              this.d2 = get[i]["date"];
              break;
            case "3":
              this.d3 = get[i]["date"];
              break;
            case "4":
              this.d4 = get[i]["date"];
              break;
            case "5":
              this.d5 = get[i]["date"];
              break;
            case "6":
              this.d6 = get[i]["date"];
              break;
            case "7":
              this.d7 = get[i]["date"];
              break;
            default:
              break;
          }
          date[i] = { num: i, date: get[i]["date"] };
        }

        switch (i) {
          case "1":
            if (get[i]["booked"] === "booked") {
              this.t1 = {
                id: d,
                status: "booked",
                date: get[i]["date"],
                time: get[i]["time"],
              };
            } else {
              time = {};
              var data = get[i]["list_time"];
              for (var d in data) {
                if (data[d]["status"] === "on_booked") {
                  time[d] = {
                    id: d,
                    start_time: data[d]["start_time"],
                    end_time: data[d]["end_time"],
                  };
                }
              }
              this.t1 = time;
            }
            break;
          case "2":
            if (get[i]["booked"] === "booked") {
              this.t2 = {
                id: d,
                status: "booked",
                date: get[i]["date"],
                time: get[i]["time"],
              };
            } else {
              time = {};
              var data = get[i]["list_time"];
              for (var d in data) {
                if (data[d]["status"] === "on_booked") {
                  time[d] = {
                    id: d,
                    start_time: data[d]["start_time"],
                    end_time: data[d]["end_time"],
                  };
                }
              }
              this.t2 = time;
            }
            break;
          case "3":
            if (get[i]["booked"] === "booked") {
              this.t3 = {
                id: d,
                status: "booked",
                date: get[i]["date"],
                time: get[i]["time"],
              };
            } else {
              time = {};
              var data = get[i]["list_time"];

              for (var d in data) {
                if (data[d]["status"] === "on_booked") {
                  time[d] = {
                    id: d,
                    start_time: data[d]["start_time"],
                    end_time: data[d]["end_time"],
                  };
                }
              }
              this.t3 = time;
            }
            break;
          case "4":
            if (get[i]["booked"] === "booked") {
              this.t4 = {
                id: d,
                status: "booked",
                date: get[i]["date"],
                time: get[i]["time"],
              };
            } else {
              time = {};
              var data = get[i]["list_time"];
              for (var d in data) {
                if (data[d]["status"] === "on_booked") {
                  time[d] = {
                    id: d,
                    start_time: data[d]["start_time"],
                    end_time: data[d]["end_time"],
                  };
                }
              }
              this.t4 = time;
            }
            break;
          case "5":
            if (get[i]["booked"] === "booked") {
              this.t5 = {
                id: d,
                status: "booked",
                date: get[i]["date"],
                time: get[i]["time"],
              };
            } else {
              time = {};
              var data = get[i]["list_time"];
              for (var d in data) {
                if (data[d]["status"] === "on_booked") {
                  time[d] = {
                    id: d,
                    start_time: data[d]["start_time"],
                    end_time: data[d]["end_time"],
                  };
                }
              }
              this.t5 = time;
            }
            break;
          case "6":
            if (get[i]["booked"] === "booked") {
              this.t6 = {
                id: d,
                status: "booked",
                date: get[i]["date"],
                time: get[i]["time"],
              };
            } else {
              time = {};
              var data = get[i]["list_time"];
              for (var d in data) {
                if (data[d]["status"] === "on_booked") {
                  time[d] = {
                    id: d,
                    start_time: data[d]["start_time"],
                    end_time: data[d]["end_time"],
                  };
                }
              }
              this.t6 = time;
            }
            break;
          case "7":
            if (get[i]["booked"] === "booked") {
              this.t7 = {
                id: d,
                status: "booked",
                date: get[i]["date"],
                time: get[i]["time"],
              };
            } else {
              time = {};
              var data = get[i]["list_time"];
              for (var d in data) {
                if (data[d]["status"] === "on_booked") {
                  time[d] = {
                    id: d,
                    start_time: data[d]["start_time"],
                    end_time: data[d]["end_time"],
                  };
                }
              }
              this.t7 = time;
            }
            break;
          default:
            break;
        }

        this.date = date;
      }
    },
    sd1() {
      if (this.select === 1) {
        return {
          color: "#f5f3f3",
          border: "2px",
          backgroundColor: "#1565c0",
        };
      } else {
        return { color: "black" };
      }
    },
    sd2() {
      if (this.select === 2) {
        return {
          color: "#f5f3f3",
          border: "2px",
          backgroundColor: "#1565c0",
        };
      } else {
        return { color: "black" };
      }
    },
    sd3() {
      if (this.select === 3) {
        return {
          color: "#f5f3f3",
          border: "2px",
          backgroundColor: "#1565c0",
        };
      } else {
        return { color: "black" };
      }
    },
    sd4() {
      if (this.select === 4) {
        return {
          color: "#f5f3f3",
          border: "2px",
          backgroundColor: "#1565c0",
        };
      } else {
        return { color: "black" };
      }
    },
    sd5() {
      if (this.select === 5) {
        return {
          color: "#f5f3f3",
          border: "2px",
          backgroundColor: "#1565c0",
        };
      } else {
        return { color: "black" };
      }
    },
    sd6() {
      if (this.select === 6) {
        return {
          color: "#f5f3f3",
          border: "2px",
          backgroundColor: "#1565c0",
        };
      } else {
        return { color: "black" };
      }
    },
    sd7() {
      if (this.select === 7) {
        return {
          color: "#f5f3f3",
          border: "2px",
          backgroundColor: "#1565c0",
        };
      } else {
        return { color: "black" };
      }
    },
  },
  methods: {
    async getdateg() {
      this.$store.dispatch("getDatrQAction");
    },
    domenu() {
      this.menu = !this.menu;
      if (this.menu) {
        this.myclass = "col-4 col-sm-4 col-md-9 col-lg-9 mainbody";
      } else {
        this.myclass = "col-9 col-sm-9 col-md-9 col-lg-9 mainbody";
      }
    },
    selectdate(value) {
      if (value) {
        this.select = value;
        console.log(value);
      }
    },
    doremove(date, time) {
      this.booking.date = date;
      this.booking.time = time;
    },
    async doremoveAction() {
      var value = {
        date: this.booking.date,
        time: this.booking.time,
      };
      await this.$store.dispatch("removeAction", value);
      if (this.$store.getters.GET_DATEQ === null) {
        this.$router.push("/booking");
        this.$store.dispatch("getDatrQAction");
      }
    },
    dobooking(date, s_time, e_time) {
      this.backdropBooking = true;
      this.booking.date = date;
      this.booking.time = s_time;
      // console.log(date);
      // console.log(s_time);
      // console.log(e_time);
    },
    async doinsertAction() {
      var value = {
        date: this.booking.date,
        time: this.booking.time,
      };
      await this.$store.dispatch("insertAction", value);
      if (this.$store.getters.GET_DATEQ === null) {
        this.$router.push("/booking");
        this.$store.dispatch("getDatrQAction");
      }
    },
    setinit() {
      this.$store.dispatch("initAction");
    },
  },
};
</script>

<style scoped>
.btnolor {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.btndrawer {
  color: rgb(255, 255, 255);
}
.text-color {
  font-weight: bold;
}
ul {
  list-style-type: none;
}
@media screen and (min-height: 560px) {
  .mainbody {
    /* background: rgb(70, 211, 27); */
    height: 415px;
  }
}
@media screen and (min-height: 667px) {
  .mainbody {
    /* background: rgb(224, 18, 18); */
    height: 515px;
  }
}
@media screen and (min-height: 736px) {
  .mainbody {
    /* background: rgb(70, 9, 238); */
    height: 583px;
    width: 300px;
  }
}
@media screen and (min-height: 812px) {
  .mainbody {
    /* background: rgb(228, 14, 157); */
    height: 660px;
    width: 300px;
  }
}
@media screen and (min-height: 1024px) {
  .mainbody {
    /* background: rgb(0, 0, 0); */
    height: 870px;
    width: 300px;
  }
}

@media screen and (min-height: 1366px) {
  .mainbody {
    /* background: rgb(10, 239, 255); */
    height: 1210px;
    width: 300px;
  }
}
</style>