<template>
  <div class="home">
    <div v-if="$store.getters.GET_QUEUE === null" id="frombooking " class="d-flex justify-content-center mt-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div v-if="$store.getters.GET_QUEUE !== null" class="my-3">
      <h3>สวัสดีค่ะ คุณ {{ user }}</h3>
    </div>
    <div v-if="$store.getters.GET_QUEUE !== null" class="card mt-2">
      <table class="table p text-center table-borderless table-striped">
        <thead>
          <tr>
            <th scope="col">วัน / เดือน / ปี</th>
            <th scope="col">เวลา</th>
            <th scope="col">สถานะ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="q in queue" :key="q.id">
            <td>{{ q.date }}</td>
            <td>{{ q.time }}</td>
            <td>{{ q.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      queue: "",
      user: "",
    };
  },
  components: {},
  mounted() {
    this.getQueue();
  },
  watch: {
    mapdata() {},
    getuser() {},
  },
  methods: {
    async getQueue() {
      this.$store.dispatch("getGueueAction");
      this.$store.dispatch("userAction");
    },
  },
  computed: {
    async mapdata() {
      var data = await this.$store.getters.GET_QUEUE;

      var q = {};
      for (var d in data) {
        if (data[d].length !== 0) {
          // console.log(data[d]["_id"]);
          // console.log(data[d]["date"]);
          // console.log(data[d]["time"]);
          // console.log(data[d]["status"]);
          q[d] = {
            id: data[d]["_id"],
            date: data[d]["date"],
            time: data[d]["time"],
            status: data[d]["status"],
          };
        }
      }
      this.queue = q;
      return this.queue;
    },
    async getuser() {
      if (this.$store.getters.GET_USER !== null) {
        var name = await this.$store.getters.GET_USER;
        var user = `${name["firstname"]} ${name["lastname"]}`;
        return (this.user = user);
      }
    },
  },
};
</script>
