<template >
  <div id="login">
    <div class="container-fluid mt-5">
      <div class="card">
        <div class="row">
          <div class="d-none d-sm-block col-md-12 col-lg-7">
            <img class="img-fluid" src="../assets/aboutme.jpg" alt="" />
          </div>
          <!-- -------------- Form --------------- -->
          <div class="col-sm-12 col-md-12 col-lg-5">
            <form
              class="container-fluid mt-5 mb-5"
              novalidate
              v-on:submit="submit"
            >
              <div class="mb-3">
                <label for="phonenumber" class="form-label h6 textstyle"
                  >Phone Number</label
                >
                <input
                  required
                  placeholder="Please Enter Phone Number"
                  type="text"
                  maxlength="10"
                  class="form-control"
                  v-model="accounts.phone"
                />
              </div>
              <div :style="style_validate">
                <p>Please Enter Phone Number</p>
              </div>

              <div class="container">
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>

                  <div class="col">
                    <div
                      v-if="$store.getters.GET_LOAD === true"
                      class="spinner-border text-primary"
                      role="status"
                    ></div>

                    <div
                      v-if="$store.getters.GET_LOGIN === true"
                      class="alert alert-success text-center"
                      role="alert"
                    >
                      Login completed
                    </div>

                    <div
                      v-if="$store.getters.GET_LOGIN === false"
                      class="alert alert-warning text-center"
                      role="alert"
                    >
                      Login incompleted
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import service from "../services/mainService";
export default {
  name: "Login",
  data() {
    return {
      accounts: {
        phone: "",
      },
      validate: false,
      style_validate: {
        color: "rgb(255, 255,255)",
      },
    };
  },

  methods: {
    submit(event) {
      event.preventDefault();
      if (this.accounts.phone.length < 10 || this.accounts.phone === "") {
        this.validate = true;
      } else {
        //console.log(this.accounts);
        this.$store.dispatch("loginAction", this.accounts.phone);
        this.validate = false;
      }
      //console.log(this.validate);
    },
    async login() {
      let getUser = service.readCookie("user");
      let gettoken = service.readCookie("token");

      if (this.$store.getters.GET_AUTH === true || (getUser && gettoken)) {
        this.$router.push("/");
      }
    },
  },
  computed: {
    style_validate() {
      if (this.validate === true) {
        return {
          color: "red",
        };
      } else {
        return {
          color: "rgb(255, 255,255)",
        };
      }
    },
  },

  mounted() {
    // this.$store.getters.GET_LOAD;
    // this.$store.getters.GET_LOGIN;
    // this.$store.getters.GET_AUTH;
    this.login();
  },
  computed: {
    getAUTH: function () {
      return this.$store.getters.GET_AUTH;
    },
  },
  watch: {
    getAUTH: function () {
      //action
      this.login();
    },
  },
};
</script>
<style  >
.textstyle {
  font-weight: bold;
}
</style>