<template lang="">
    <div id="header" class="header">
        <nav class="navbar navbar-expand-lg navbar-dark ">
        
  <a @click="$router.push('/')" class="navbar-brand" href="#">
    <img src="../assets/logo.png" alt="logo" class='img'>
  </a>
  <button class="navbar-toggler bg-maincolor" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
    <div class="navbar-nav container bg-maincolor rounded-2 mt-1 fontsize nav justify-content-end">
      <a @click="$router.push('/')" class="nav-link nav-item active  ms-5 mt-1 mb-1" href="#">รายละเอียดคิว</a>
      <a  @click="$router.push('/booking')"   class="nav-link nav-item active ms-5 mt-1 mb-1" href="#">Form-Booking-Ex</a>
    
   
   

     <div @click='logout()' class='nav-link nav-item active ms-5 mt-1 mb-1 btn'>  
       
         <span class='me-2'>LogOut</span>
       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
</svg>
      
      
    </div>

    

</div>
  </div>
</nav>
    </div>


    
</template>
<script>
import service from "../services/mainService";
export default {
  name: "header",
  data() {
    return {};
  },
  mounted() {},

  methods: {
    async logout() {
      this.$store.dispatch("logOutAction");
      let getUser = service.readCookie("user");
      let gettoken = service.readCookie("token");

      if (this.$store.getters.GET_AUTH !== true || (!getUser && !gettoken)) {
        this.$router.push("/login");
      }
    },
  },
};
</script>
<style scoped>
.fontsize {
  font-weight: bold;
}
.header {
  color: #f5f3f3;
}
.img {
  width: 200px;
  height: 70px;
}
</style>