
<template>
  <div id="app" class="container">
    <Header v-if="$store.getters.GET_AUTH === true" />
    <router-view></router-view>
  </div>
</template>
<script>
import Header from "./components/Header.vue";
export default {
  name: "app",
  components: {
    Header,
  },
  methods: {},
};
</script>

<style>
@font-face {
  font-family: Prompt;
  src: url("./font/Prompt-ExtraLight.ttf");
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: Prompt;
}
.p,
.a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.span {
  font-family: Prompt;
}
.maincolor {
  color: #1565c0;
}

.suscolor {
  color: #5e92f3;
}
.subdicolor {
  color: #64b5f6;
}
.bg-maincolor {
  background-color: #1565c0;
}

.bg-suscolor {
  background-color: #5e92f3;
}
.bg-subdicolor {
  background-color: #64b5f6;
}
body {
  background-color: #f5f3f3;
}
.colorbody{
  background-color: #f5f3f3;
}
</style>